.call-to-action {
  @include page-descr;
  margin: 0;
  @include container;
  margin-bottom: 15px;
  color: #283645;
  display: block;

  .call-to-action__text {
    font-size: inherit;
    line-height: 30px;
    font-weight: 400;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;
      max-width: 555px; //tablet mark
    }

    @media (min-width: $desktop-width) {
      max-width: 805px;
      margin: 0 auto;
    }
  }

  .call-to-action__text--form {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.call-to-action--form {
  padding: 43px 20px 25px;

  @media (min-width: $tablet-width) {
    padding-top: 93px;
    padding-bottom: 50px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 93px;
    padding-bottom: 60px;
  }
}

.call-to-action--photo {
  padding-top: 43px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 90px;
    padding-bottom: 75px;
  }
}

.call-to-action--bottom {
  padding-top: 43px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 48px;
  }
}
