
.price {
  text-transform: uppercase;
  overflow: hidden;
  background-color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 90px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
    padding-top: 83px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 116px;
    padding-bottom: 97px;
  }
}

.price__container {
  @include container;
  position: relative;
}
