.slider-toggle__item {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #bec2c7;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 3;
  display: none;
  top: 49%;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.slider-toggle__item--left {
  border-top: none;
  border-right: none;
  left: 26%;
}

.slider-toggle__item--right {
  border-bottom: none;
  border-left: none;
  right: 26%;
}
